<!DOCTYPE html>
<meta charset="utf-8">

<html>
<head>
<title>COVID-19 DASHBOARD</title>
</head>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
<link rel="stylesheet" href="static/css/test.css">
<link rel="stylesheet" href="static/css/linegraphset.css">

<script src="https://d3js.org/d3.v4.min.js"></script>

<script>
    window.d3v4 = d3
</script>
<script src="https://unpkg.com/d3-simple-slider"></script>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://d3js.org/topojson.v1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>

<script>
    window.d3v3 = d3
</script>

<body>
  <div class="container">
  <div class="row" id = "charts">

    <div class = "col-md-6" id ="mapdiv">
      <div id="date_slider">
        <div class="row align-items-center">
          <div class="col-sm"><div id="slider-new-york-times"></div></div>
        </div>
      </div>

      <div id="map"></div>
    </div>

    <div class ="col-md-6 " id = "restchart">

      <div class="row buttondiv" ></div>
      <div class="row chartdiv1" >

        <div class="card text-center">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a id="linear" class="nav-link active" href="#">Linear</a>
              </li>
              <li class="nav-item">
                <a id="log" class="nav-link" href="#">Log</a>
              </li>
              <li class="nav-item">
                <a id="bar_cum" class="nav-link" href="#">Cumulative</a>
              </li>
              <li class="nav-item">
                <a id="bar_daily" class="nav-link" href="#">Daily</a>
              </li>
            </ul>
          </div>
          <div id ="linelogcard" class="card-body">
            <svg id="linegraph"></svg>
          </div>
        </div>



      </div>
      <div class="row chartdiv2" ></div>

    </div>
  </div>
</div>

</body>

<script>
    var width = 700,
        height = 450,
        rotate = 60,        // so that [-60, 0] becomes initial center of projection
        maxlat = 83;        // clip northern and southern poles (infinite in mercator)

    var projection = d3.geo.mercator()
        .rotate([rotate,0])
        .scale(1)           // we'll scale up to match viewport shortly.
        .translate([width/2, height/2]);

    // find the top left and bottom right of current projection
    function mercatorBounds(projection, maxlat) {
        var yaw = projection.rotate()[0],
            xymax = projection([-yaw+180-1e-6,-maxlat]),
            xymin = projection([-yaw-180+1e-6, maxlat]);

        return [xymin,xymax];
    }

    // set up the scale extent and initial scale for the projection
    var b = mercatorBounds(projection, maxlat),
        s = width/(b[1][0]-b[0][0]),
        scaleExtent = [s, 10*s];

    projection
        .scale(scaleExtent[0]);

    var zoom = d3.behavior.zoom()
        .scaleExtent(scaleExtent)
        .scale(projection.scale())
        .translate([0,0])               // not linked directly to projection
        .on("zoom", redraw);

    var path = d3.geo.path()
        .projection(projection);

    var offsetL = document.getElementById('map').offsetLeft+10;
    var offsetT = document.getElementById('map').offsetTop+10;
    var tooltip = d3.select("#map")
                 .append("div")
                 .attr("class", "tooltip hidden");

    var svg = d3.selectAll('#map')
        .append('svg')
            .attr('width',width)
            .attr('height',height)
            .attr('class','map')
            .call(zoom);

    d3.json("https://cdn.jsdelivr.net/npm/world-atlas@2/countries-110m.json", function ready(error, world) {

        country_map = []

        svg.selectAll('path')
          .data(topojson.feature(world, world.objects.countries).features)
          .enter().append('path')
          .attr('class','boundary')
          .attr("name", function(d) {country_map.push(d.properties.name); return d.properties.name;})
          .attr("id", function(d) { return d.id;})
          .on('click', selected)
          .on("mousemove", showTooltip)
          .on("mouseout",  function(d,i) {
              tooltip.classed("hidden", true);
           })


        $.get('http://127.0.0.1:5000/drawmap', function (data, textStatus, jqXHR) {


            svg.selectAll('.boundary')
              .style('fill',function(d,i){
                if (data[d['properties']['name']]){
                  color = getColorScale()
                  return color(data[d['properties']['name']]['Confirmed'])
                }

                 return color(0);
              });

              //add stats attribute
              d3.selectAll('.boundary')
                .attr('stats',function() {
                  return JSON.stringify(data[d3.select(this).attr('name')])
                });
        });
        redraw();       // update path data
        addLegends(svg)
    });

    // track last translation and scale event we processed
    var tlast = [0,0],
        slast = null;


    function showTooltip(d){
      label = d3.select(this).attr('name')
      stats = JSON.parse(d3.select(this).attr('stats'))

      if (stats == null){
        stats={"Confirmed":0, "Deaths":0, "Recovered":0}
      }

      var mouse = d3.mouse(svg.node())
        .map( function(d) { return parseInt(d); } );
      tooltip.classed("hidden", false)
        .attr("style", "left:"+(mouse[0]+offsetL)+"px;top:"+(mouse[1]+offsetT)+"px")
        .html(
          "<p><strong>" + label + "</strong></p>" +
          "<table><tbody><tr><td class='wide'>Confirmed Cases :</td><td>" + stats['Confirmed'] + "</td></tr>" +
          "<tr><td>Deaths :</td><td>" + stats['Deaths'] + "</td></tr>" +
          "<tr><td>Recovered :</td><td>" + stats['Recovered'] + "</td></tr></tbody></table>"
        );
    }

    function selected() {
        //d3.select('.selected').classed('boundary', true);
        //d3.select('.selected').classed('selected', false);
        //d3.select(this).classed('boundary', false);
        //d3.select(this).classed('selected', true);
        //d3.select(this).data(d3.select(this).attr('name'))
        //console.log( d3.select(this).attr('name'))
        //console.log( d3.select(this).attr('stats'))
        //console.log( d3.select(this).data())

        $(".active").removeClass("active")
        $("#linear").addClass("active")

         $("#linelogcard").attr("country",d3.select(this).attr('name') );

        if (d3.select(this).style("opacity")==1){
          d3.selectAll(".boundary")
            .transition()
            .duration(200)
            .style("opacity", .9)
        }
        else{
            d3.selectAll(".boundary")
              .transition()
              .duration(200)
              .style("opacity", .5)
            d3.select(this)
              .transition()
              .duration(200)
              .style("opacity", 1)
              .style("stroke", "black")
            drawLine(d3.select(this).attr('name'))
      }
    }

    function redraw() {
        if (d3.event) {
            var scale = d3.event.scale,
                t = d3.event.translate;

            // if scaling changes, ignore translation (otherwise touch zooms are weird)
            if (scale != slast) {
                projection.scale(scale);
            } else {
                var dx = t[0]-tlast[0],
                    dy = t[1]-tlast[1],
                    yaw = projection.rotate()[0],
                    tp = projection.translate();

                // use x translation to rotate based on current scale
                projection.rotate([yaw+360.*dx/width*scaleExtent[0]/scale, 0, 0]);
                // use y translation to translate projection, clamped by min/max
                var b = mercatorBounds(projection, maxlat);
                if (b[0][1] + dy > 0) dy = -b[0][1];
                else if (b[1][1] + dy < height) dy = height-b[1][1];
                projection.translate([tp[0],tp[1]+dy]);
            }
            // save last values.  resetting zoom.translate() and scale() would
            // seem equivalent but doesn't seem to work reliably?
            slast = scale;
            tlast = t;
        }

        svg.selectAll('path')       // re-project path data
            .attr('d', path);
    }

    function addLegends(svgElement){
        var legendText = ["<100", "101-1000", "1001 -10k","10k -20k", "10k - 50k", "50k - 100k", "100k - 500k", ">500k"];
        var legendColors = ["#ffe5e5", "#ffb2b2","#ff7f7f", "#ff4c4c", "#ff3232", "#ff0000", "#b20000","#7f0000"];
        var color = d3.scale.threshold()
          .domain([100, 1000, 10000, 20000, 50000, 100000, 500000])
          .range(["#ffe5e5", "#ffb2b2","#ff7f7f", "#ff4c4c", "#ff3232", "#ff0000", "#b20000","#7f0000"]);

        var legend = svgElement.append("g")
    		  .attr("id", "legend");


        var legenditem = legend.selectAll(".legenditem")
        		.data(d3.range(8))
        		.enter()
        		.append("g")
        			.attr("class", "legenditem")
        			.attr("transform", function(d, i) { return "translate(30,"+i*15 + ")"; });

        	legenditem.append("rect")
        		.attr("x", width - 140)
        		.attr("y", 325)
        		.attr("width", 30)
        		.attr("height", 15)
        		.attr("class", "rect")
        		.style("fill", function(d, i) { return legendColors[i]; });

        	legenditem.append("text")
        		.attr("x", width - 70)
        		.attr("y", 338)
        		.style("text-anchor", "middle")
            .style("font-weight","bold")
        		.text(function(d, i) { return legendText[i]; });
    }

    function getColorScale(){
      var legendText = ["<100", "101-1000", "1001 -10k", "10k - 50k", "50k - 100k", "100k - 500k", ">500k"];
      var legendColors = ["#ffe5e5", "#ffb2b2", "#ff4c4c", "#ff3232", "#ff0000", "#b20000","#7f0000"];
      var color = d3.scale.threshold()
        .domain([100, 1000, 10000, 20000, 50000, 100000, 500000])
        .range(["#ffe5e5", "#ffb2b2","#ff7f7f", "#ff4c4c", "#ff3232", "#ff0000", "#b20000","#7f0000"]);

      return color;
    }

</script>

<script src="static/js/dashboard_1_listeners.js"></script>
<script src="static/js/slider.js"></script>
<script src="static/js/linechart.js"></script>

</html>
